<h1 style="text-align: center;">URL Shortener</h1>
<div class="card" style="width: 18rem; border:0px;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="短網址">
</div>


<div class="d-flex input-group mb-3" style="margin:50px auto;">
  <div>
    <a href={{originalUrl}} target="_blank"><input type="text" class="form-control" id="shortValue"
        placeholder="http://localhost:3000/JBSURL/{{shortUrl}}" name="copyUrl" size="33" style="cursor: pointer;">
    </a>
  </div>
  <div>
    <button class="btn btn-outline-secondary text-nowrap" onclick="copyText()">copy</button>
  </div>
</div>