<h1 style="text-align: center;">URL Shortener</h1>
<div class="card" style="width: 18rem; border:0px;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="短網址">
</div>

<form action="/" method="POST" style="margin:20px auto;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="輸入想要縮短的網址" aria-label="Recipient's username"
      aria-describedby="button-addon2" name="originalUrl">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">送出</button>
  </div>
</form>

<h5>
  <a href="http://localhost:3000/JBSURL/{{shortUrl}}" target="_blank">http://localhost:3000/JBSURL/{{shortUrl}}</a>
</h5>